{% extends 'pages/base_site.html' %}
{% load static %}

{% block title %} ABOUT | GLORAN HOTEL AND EVENT PLACE OWERRI {% endblock %}

{% block container %}

<div class="breadcrumbs1_wrapper">
        <div class="container">
          <div class="breadcrumbs1"><a href="{% url 'home' %}">Home</a><span>|</span>About us</div>
        </div>
      </div>
      <div id="about content">
        <div class="container">

          <div class="title1">KNOW US MORE</div>

          <div class="title2">Feel at home with Gloran Hotel Limited</div>

          <div class="about-slider-wrapper clearfix">
            <div class="about-slider-left">
              <figure class="about-slider-thumb">
                <img src="{% static 'img/pages/about00.jpeg' %}" alt="" class="img-fluid">
              </figure>
              <div class="slider-for">
                <div class="slider-item">
                  <img src="{% static 'img/pages/outside_h3.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="slider-item">
                  <img src="{% static 'img/pages/outside_e3.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="slider-item">
                  <img src="{% static 'img/pages/reception_b3.jpg' %}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="about-slider-right">
                    <div class="slider-nav">
                        <div class="slider-item">
                            <div class="txt1">
                                A HOTEL WITH TASTE.
                            </div>
                            <div class="txt4">
                                <p>
                                    Welcome to Gloran Hotel and Event Place, your number one hotel in Owerri. We're dedicated to giving you the very best of rooms and relaxations, with a focus on security and comfort..
                                </p>
                                <p>
                                    Founded in January,  2019, Gloran Hotel and Event Place management is passionate about "eco-friendly" accommodations borne out of robust research, so we can offer you competitive rooms at yet affordable prices and satisfy you with quality services. We now serve customers all over the country, and are thrilled that we're able to turn our passion into a business.
                                </p>
                                <p>
                                    We hope you enjoy our environment as much as we enjoy offering them to you. For enquiries or comments, please don't hesitate to contact us.
                                    GLO-RAN Hotel and Event Place
                                    .....Hospitality with Divine Presence!!
                                </p>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="txt1">
                                FEEL AT HOME.
                            </div>
                            <div class="txt4">
                                <p>
                                    Welcome to Gloran Hotel and Event Place, your number one hotel in Owerri. We're dedicated to giving you the very best of rooms and relaxations, with a focus on security and comfort..
                                </p>
                                <p>
                                    Founded in January,  2019, Gloran Hotel and Event Place management is passionate about "eco-friendly" accommodations borne out of robust research, so we can offer you competitive rooms at yet affordable prices and satisfy you with quality services. We now serve customers all over the country, and are thrilled that we're able to turn our passion into a business.
                                </p>
                                <p>
                                    We hope you enjoy our environment as much as we enjoy offering them to you. For enquiries or comments, please don't hesitate to contact us.
                                    GLO-RAN Hotel and Event Place
                                    .....Hospitality with Divine Presence!!
                                </p>
                            </div>
                        </div>
                       <div class="slider-item">
                            <div class="txt1">
                                A HOME AWAY FROM HOME
                            </div>
                            <div class="txt4">
                                <p>
                                    Welcome to Gloran Hotel and Event Place, your number one hotel in Owerri. We're dedicated to giving you the very best of rooms and relaxations, with a focus on security and comfort..
                                </p>
                                <p>
                                    Founded in January,  2019, Gloran Hotel and Event Place management is passionate about "eco-friendly" accommodations borne out of robust research, so we can offer you competitive rooms at yet affordable prices and satisfy you with quality services. We now serve customers all over the country, and are thrilled that we're able to turn our passion into a business.
                                </p>
                                <p>
                                    We hope you enjoy our environment as much as we enjoy offering them to you. For enquiries or comments, please don't hesitate to contact us.
                                    GLO-RAN Hotel and Event Place
                                    .....Hospitality with Divine Presence!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
          </div>

        </div>
      </div>

{% endblock %}