{% extends 'pages/base_site.html' %}
{% load static %}

{% block title %} Booking | GLORAN HOTEL AND EVENT PLACE OWERRI {% endblock %}

{% block container %}

    <div class="breadcrumbs1_wrapper">
        <div class="container">
            <div class="breadcrumbs1"><a href="{% url 'home' %}">Home</a><span>|</span>Book</div>
        </div>
    </div>
    <div id="content">
        <div class="container">

            <div class="title1">YOUR INFORMATION</div>

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% if messages_count > 0%}
                    {% for child in messages %}
                        <strong>{{ child }}</strong>
                    {% endfor %}
                {% endif %}

            </div>
            <div id="fields">
                <form id="ajax-contact-form" class="form-horizontal clearfix" action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="full_name">Full Name <span>*</span></label>
                                        <input type="text" class="form-control" id="full_name" name="full_name" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="mail">E-mail <span>*</span></label>
                                        <input type="email" class="form-control" id="mail" name="email" value="" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Phone <span>*</span></label>
                                        <input type="tel" class="form-control" id="phone" name="phone" required>
                                    </div>
                                </div>
                                <h4 class="h5">Next Of Kin</h4>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">Name <span>*</span></label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="n_phone">Phone <span>*</span></label>
                                        <input type="tel" class="form-control" id="n_phone" name="n_phone" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="check_in">Check-in date <span>*</span></label>
                                        <input type="date" class="form-control" id="check_in" name="check_in" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="check_out">Check-out date <span>*</span></label>
                                        <input type="date" class="form-control" id="check_out" name="check_out" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="adults">Adults <span>*</span></label>
                                        <input type="number" class="form-control" id="adults" name="adults" value="1" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="children">Children <span>*</span></label>
                                        <input type="number" class="form-control" id="children" name="children" value="0" required>
                                    </div>
                                </div>
                                <div class="pt-2 pb-2"><hr /></div>
                                <div class="col-md-12 gloacinfo">
                                    <div class="form-group">
                                        <h3 class="h3"> Payment should be made to:</h3>
                                        <h3 class="h4">Account Number: 1021662026</h3>
                                        <h3 class="h4">Account Name: GLORAN HOTELS AND EVENTS PLACE</h3>
                                        <h3 class="h4">Bank: UBA</h3>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <input type="hidden" name="room_type" value="{{room_type}}">
                    <input type="hidden" name="reserve" value="1">
                    <button type="submit" class="btn-default btn-cf-submit">Book Room</button>
                </form>
            </div>


        </div>
    </div>
{% endblock %}