{% extends 'staff/base.html' %}
{% block container %}
  <!-- MAIN CONTENT -->
    <main class="px-3 tm-content">
      <div class="card-body p-0">
        <div class="table-responsive flex-fill">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-12 col-sm-6 col-lg-4 m-auto">
                <div class="tm-box rounded">
                  <h4 class="tm-box-header text-center text-capitalize text-gray border-bottom mb-4 pb-3 tm-black-50">
                    Attendance
                  </h4>
                  <div class="tm-box-body">
                    <div class="mb-3 text-center">
                      <img src="/static/img/user_1.png" alt="user" class="img-fluid rounded tm-user-img-xm">
                    </div>
                    <form action="" method="post" class="form-horizontal mt-5">
                      {% csrf_token %}
                      <div class="form-group">
                        <div class="input-group clearfix">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="icon ion-ios-at"></i>
                            </div>
                          </div>
                          <label for="userEmail" class="sr-only">Email</label>
                          <input type="email" class="form-control" name="email" id="userEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group clearfix">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="icon ion-ios-key"></i>
                            </div>
                          </div>
                          <label for="userPass" class="sr-only">Password</label>
                          <input type="password" name="password" id="userPass" class="form-control" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group text-center mt-2">
                        <button type="submit" class="btn btn-primary">Sign out</button>
                      </div>
                    </form>
                    <p class="text-center">Have a nice time</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </main>
{% endblock %}