<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Gloran Hotel | Staff Portal</title>
  <link rel="shortcut icon" href="static/img/favicon/favicon-32x32.png" type="image/x-icon">
  <link rel="shortcut icon" href="static/img/favicon/favicon-16x16.png" type="image/x-icon">
  <link rel="shortcut icon" href="static/img/favicon/apple-touch-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link href="static/font/ionicons/css/ionicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/css/main.min.css" />
</head>

<body>
  <div class="wrapper tm-bg-img">
    <!-- HEADER -->
    <header class="tm-header position-relative tm-shadow-btm">
      <nav class="navbar">
        <a class="navbar-brand" href="index.html">Gloran Hotel</a>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row py-2">
        <div class="col-12 col-sm-6 col-lg-4 m-auto">
          <div class="tm-box rounded">
            <h4 class="tm-box-header text-center text-capitalize text-gray border-bottom mb-4 pb-3 tm-black-50">
              Sign in
            </h4>
            <div class="tm-box-body">
              <div class="mb-3 text-center">
                <img src="./static/img/user_1.png" alt="user" class="img-fluid rounded tm-user-img-xm">
              </div>
              <form action="#" class="form-horizontal mt-5">
                <div class="form-group">
                  <div class="input-group clearfix">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="icon ion-ios-at"></i>
                      </div>
                    </div>
                    <label for="userEmail" class="sr-only">Email</label>
                    <input type="email" class="form-control" name="userEmail" id="userEmail" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group clearfix">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="icon ion-ios-key"></i>
                      </div>
                    </div>
                    <label for="userPass" class="sr-only">Password</label>
                    <input type="password" name="userPass" id="userPass" class="form-control" placeholder="Password">
                  </div>
                </div>
                <div class="form-group text-center mt-2">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </form>
              <p class="text-center">Forgot password? <small>meet <b>Admin</b></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./static/js/jquery-3.3.1.min.js"></script>
  <script src="./static/js/bootstrap.bundle.min.js"></script>
  <script src="./static/js/main.js"></script>
</body>

</html>