{% extends 'staff/base.html' %}
{% block container %}
<!-- MAIN CONTENT -->
    <main class="px-3 tm-content">
      <div class="row">
        <div class="page-title mr-auto px-3 pt-2">
          <h4 class="h3">Expenses</h4>
        </div>
        <nav aria-label="breadcrumb" class="ml-auto tm-breads">
          <ol class="breadcrumb">

            <li class="breadcrumb-item">Total: {{ expense_total }}</li>
          </ol>
        </nav>
      </div>
      <div class="card-deck mt-4 mb-3">
          <div class="table-responsive flex-fill">
                <table class="table table-hover m-0">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">S/N</th>
                      <th scope="col">Expenses</th>
                      <th scope="col">Reason</th>
                      <th scope="col">Time</th>
                      <th scope="col">Admin</th>
                      <th scope="col">Message</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for child in expense_object %}
                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>
                              {% if child.expense.amount %}
                                {{ child.expense.amount }}
                              {% else %}
                                  ----
                              {% endif %}
                          </td>
                          <td>
                                {% if child.expense.item %}
                                  {{ child.expense.item }}
                                {% else %}
                                  ----
                                {% endif %}
                          </td>
                          <td>
                                {% if child.expense.date %}
                                    {{ child.expense.date }}
                                {% else %}
                                    ----
                                {% endif %}
                          </td>
                          <td>
                                {% if child.expense.action_by %}
                                    {{ child.expense.action_by }}
                                {% else %}
                                    ----
                                {% endif %}
                          </td>
                          <td>
                                {% if child.expense.message %}
                                    {{ child.expense.message }}
                                {% else %}
                                    ----
                                {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
          </div>
      </div>

    </main>
{% endblock %}